.page {
    width: 100vw;
    height: 100vh;
    background-image: url('/img/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}

.wardrobeContainer {
    margin-left: 516px;
} 