.button {
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.text {
    background-color: transparent;
    color: #000;
    font-family: "Soyuz Grotesk";
    font-size: 24px;
}

.filled-beige {
    background-color: #DECEB4;
    padding: 5px 24px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    font-size: 24px;
}
.filled-danger {
    background-color: #DEB4B4;
    padding: 5px 24px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;

}
.filled-gray {
    background-color: #C6C6C6;
    padding: 5px 24px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;

}

.outlined-white {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
}
.outlined-gray {
    background-color: transparent;
    color: #C6C6C6;
    border: 2px solid #C6C6C6;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
}

.small {
    padding: 5px 35px;
    font-size: 16px;
}

.medium {
    padding: 5px 25px;
    font-size: 20px;
}

.large {
    padding: 8px 13px;
    font-size: 18px;
}
