.card {
    padding: 24px 82px 35px 82px;
}

.window {
    width: 387px;
    height: 254px;
    border: 1px dashed black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Soyuz Grotesk';
    font-size: 20px;
    letter-spacing: 0.1em;
}

