.header {
    position: absolute;
    background-color: rgba(217, 217, 217, 0.6);
    height: 100vh;
    padding: 35px 38px 0 50px;
    margin-left: 80px;
    letter-spacing: 0.1em;
}

.logo {
    font-family: 'Soyuz Grotesk';
    font-size: 40px;
    letter-spacing: 0.1em;
}

.link {
    all: unset;
    cursor: pointer;
    font-family: 'Soyuz Grotesk';
    font-size: 24px;
}