.logo {
    font-size: 40px;
    letter-spacing: 0.1em;
}

.form {
    padding: 20px 57px 30px 47px;
    /* margin-top: 238px; */
    /* margin-left: 445; */
}

.signUpButton {
    padding: 5.5px 22.5px;
}
